/*Override default styles added by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General body style*/
body{
min-height:100vh;
color:white;
background-color:black;
/*add font family here*/
display:flex;
flex-flow:column wrap
}

/* Header */
header {

}

#contact{
display:flex;
justify-content: space-evenly;
text-align:center;
list-style-type:none;
font-size:20px;
}
#contact span{
font-size:10px;

}
#hero{
height: 300px;
width: 100%;
background: url("../images/training.jpg") no-repeat center center/cover;
position: relative;
}

#intro{
position: absoloute;
background-color:rgba(184, 169, 169, 0.75);
color:white;
text-align:center ;
margin:5px;
padding:5px
} 

h1{
color:red;
font-size:300%
}

/* Main content */
main {

flex: auto
}

/* Footer */
footer {
   
}