/*Override default styles added by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General body style*/
body{
font-size:larger;
min-height:100vh;
color:white;
background-color:black;
display:flex;
flex-flow:column wrap
}

nav a,h1,#contact,#contact li,h2,footer a{
color: red
}

#about, #memberships, #sign {
margin: 15px 0px
}

/*centers and seperates navigation*/
#head-nav li, #contact li {
display: inline-block;
text-align: center;
font-size: large
}

/*Styles h1 and the quote below it*/
#intro {
background-color: rgba(184, 169, 169, 0.80);
color: white;
text-align: center;
margin: 5px;
padding: 5px
}

h1 {
font-size: 300%
}

/* 1st background image*/
#landing {
height: 300px;
width: 100%;
background: url("../images/training.jpg") no-repeat center center/cover;
position: relative;
}

/* Main content */
main {
flex: auto;
text-align:center;
margin: 5px;
border: 5px;
}
/*background for schedules*/
#hyde-img{
background: url("../images/hyde.jpg") no-repeat center center/cover;
} 

#battersea-img {
background: url("../images/battersea.jpg") no-repeat center center/cover;
}

/*overlapping text in schedules*/
#hyde-txt, #battersea-txt {
background-color:rgba(65, 59, 59, 0.80);
}

#park{
width: 100%;
max-height:500px;
}

/* Footer */
footer {
text-align: center;
margin:5px 0;
padding: 0px;
font-size: large
}

footer a{
font-size:larger
}

/*adjusts font size for larger devices*/
@media only screen and (min-width: 1024px) {
#head-nav li, footer, #contact li {
font-size:larger
}
}


