/*Override default styles added by the browser */
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/*General body style*/
body{
font-size:larger;
min-height:100vh;
color:white;
background-color:black;
display:flex;
flex-flow:column wrap
}

#head-nav li {
    display: inline-block;
    text-align: center;
    color: red;
    font-size: large
}
#intro {
    position: absoloute;
    background-color: rgba(184, 169, 169, 0.80);
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px
}

h1 {
    color: red;
    font-size: 300%
}
#contact{
color:red 
}

 #contact li{

    display:inline-block;
    text-align:center;
    color:red;
    font-size: large

}

#landing{
height: 300px;
width: 100%;
background: url("../images/training.jpg") no-repeat center center/cover;
position: relative;
}



/* Main content */
main {
flex: auto;
text-align:center;
margin: 5px;
border: 5px;
}

h2{
color:red;
}

#hyde-img{
background: url("../images/hyde.jpg") no-repeat center center/cover;
}
#hyde-txt{
background-color:rgba(65, 59, 59, 0.80);

}

#battersea-img{
background: url("../images/battersea.jpg") no-repeat center center/cover;
}
#battersea-txt{
background-color:rgba(80, 70, 70, 0.80);
}
#park{
    width: 100%;
    height: auto;
}
/* Footer */
footer {
text-align: center;
margin: 5px;
padding: 5px;
font-size: large
}

/*